<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>ArcGIS API for JavaScript Tutorials: Display a map</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.22/"></script>
  <script src="{{url_for('static', filename='javascript/config.js')}}"></script>
  <script src="{{url_for('static', filename='javascript/styler.js')}}"></script>


<body>
  <div id="viewDiv"></div>
</body>

<style>
  html,
  body,
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>





<script>

  // Takes API Key from config file
  var arcgisApiKey = config.arcgisApiKey;  // key eklemeyi unutma
  console.log(arcgisApiKey);



  //Initialize api key Map and Map View classes.
  require([  // Require is a built in function of NodeJs, and used to for loading modules
    "esri/config",
    "esri/Map",

    //Vector Tile Layer 
    "esri/layers/VectorTileLayer",
    "esri/layers/FeatureLayer",




    "esri/views/MapView", //2D View 
    "esri/views/SceneView", // 3D View

    //Base Map Modules
    "esri/widgets/BasemapToggle",
    "esri/widgets/BasemapGallery",

    //LayerList
    "esri/widgets/LayerList",

    "esri/layers/GraphicsLayer",

    "esri/widgets/ScaleBar"



  ], function (esriConfig, Map, VectorTileLayer, FeatureLayer, MapView, SceneView, BasemapToggle, BasemapGallery,LayerList,GraphicsLayer,ScaleBar) {

    esriConfig.apiKey = arcgisApiKey; // Sets API Key 






    // creates new map object with basemap option
    const map = new Map({
      basemap: "arcgis-topographic", // Basemap layer
      ground: "world-elevation", //Elevation service\

      //layers: [vtlLayer] // Adds vector layer 




    });

    // creates 2D MapView object with various obtion with map object above
    const view = new MapView({
      map: map,
      center: [38, 38.027], //Longitude Latitude 
      zoom: 13, // scale: 72223.819286
      container: "viewDiv",
      constraints: {
        snapToZoom: false
      }
    });

    // creates SceneView 
    // const view = new SceneView({
    //   container: "viewDiv",
    //   map: map,
    //   camera: {
    //     position: {
    //       x: 38.808, //Longitude
    //       y: 38.961, //Latitude
    //       z: 20000 //Meters
    //     },
    //     tilt: 50
    //   }
    // });


    // Adds basemap widget 
    const basemapToggle = new BasemapToggle({
      view: view,
      nextBasemap: "arcgis-imagery"
    });

    view.ui.add(basemapToggle, "bottom-right");


    // Adds basemap galery  widget 

    const basemapGallery = new BasemapGallery({
      view: view,
      source: {
        query: {
          title: '"World Basemaps for Developers" AND owner:esri'
        }
      }
    });
    view.ui.add(basemapGallery, "top-right"); // Add to the view


    let scaleBar = new ScaleBar({
      view: view,
      unit:"metric",
      style: "ruler"
    });
    // Add widget to the bottom left corner of the view
    view.ui.add(scaleBar, {
      position: "bottom-left", 
    });




    //All sample data https://services3.arcgis.com/GVgbJbqm8hXASVYi/ArcGIS/rest/services

    // sample data in Los Angeles



    const bikeTrails = new FeatureLayer({
      url: "https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0",
      renderer: bikeTrailsRenderer,
      definitionExpression: "USE_BIKE = 'YES'"
    });

    map.add(bikeTrails, 0);

    const trails = new FeatureLayer({
      url: "https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0",
      renderer: trailsRenderer,
      opacity: .75
    });

    // Add the layer
    map.add(trails, 1);




    // Add Graphic Layer
    // const graphicsLayer = new GraphicsLayer();

    // const point = { //Create a point
    //   type: "point",
    //   longitude: 36.80657463861,
    //   latitude: 37.0005930608889
    // };

    // const pointGraphic = new Graphic({
    //   geometry: point,
    //   symbol: simpleMarkerSymbol
    // });
    // graphicsLayer.add(pointGraphic);
    // map.add(graphicsLayer);


    //Add feature Layer


    // Parks and open spaces (polygons)
    const parksLayer = new FeatureLayer({
      url: "https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Parks_and_Open_Space/FeatureServer/0"
    });

    map.add(parksLayer, 0);

    parksLayer.when(() => {
      view.goTo(parksLayer.fullExtent);
    });



    let layerList = new LayerList({
      view: view
    });
    // Adds widget below other elements in the top left corner of the view
    view.ui.add(layerList, {
      position: "top-left"
    });

  });



</script>


</head>



</html>